header.st-emotion-cache-faifs7.ezrtsby2{
height: 0%;
width: 0%;
}
div.stAppViewContainer.appview-container.st-emotion-cache-1yiq2ps.ea3mdgi9{
background-image: url('https://i.imgur.com/mqge8Gc.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
div.st-emotion-cache-1pdpyqv.ea3mdgi6{
    background-image: url('https://i.imgur.com/b8P5o7P.png');
    background-size:126.5%;
background-position: center;
background-repeat: no-repeat;
}